\documentclass[12pt,twoside,a4paper]{article}
\usepackage{german}
\begin{document}
\section{Ein Beispiel Dokument}
\subsection{Ein Vorwort}
Und hier extra für Sergei und Konstantin ein kleines \LaTeX Dokument, gefüllt mit Werten aus
gesammelten Markdown- Dokumenten und per Reportgenerator in eine PDF- Summary verwandelt

{{- range $elementName, $data := . -}}
    {{- range .obj.requirements }}
\section{Beschreibung des Modul:{{ $elementName}}}
\emph{Severity: {{ .sev}}}

        {{range .text -}}
        {{- . -}}
        {{- end}}
    {{ end -}}
{{- end -}}
\end{document} 
    #!# jtp #!# - #!# pdflatex -enable-installer  -jobname=Requirements